body {
    font: 16px "Segoe UI";
}

nav {
    margin: 10px 60px;
}

.selected {
    text-decoration: none;
    color: #333;
}

.feature {
    text-align: center;
}

.error {
    color: red;
    font-style: italic;
}

.message {
    margin-top: 20px;
    font-size: 18px;
    font-style: italic;
}
